body {
	background:url("images/bg.png");
	font-family:'Carrois Gothic', sans-serif;
}

#left-sidebar {
	position:relative;
	float:left;
	width:200px;
	margin-left:25px;
	min-width:200px;
}

#left-sidebar img {
	height:50px;
	width:20%;
}

#right-sidebar {
	position:relative;
	float:right;
	width:20%;
}

footer {
	color:red;
	float:left;
	width:100%;
}
