.settlement, .ni_settlement {
    width: 25px;
    min-width: 25px;
    height: 32px;
    min-height: 32px;
}

.settlement a div, .ni_settlement a div {
	border: 0px;
	width: 25px;
	min-width: 25px;
	height: 32px;
	min-height: 32px;
}

/*td.settlement a img {
    width: 25px;
    min-width: 25px;
    height: 32px;
    min-height: 32px;
}*/

.settlement a div:hover {
	/*background-color: #0000ff;*/
	cursor: pointer;
	background-image:url('images/DefaultSettlement.png');
	background-repeat:no-repeat;

}

.settlement a div img {
	width: 25px;
	height: 30px;
}

.hroad {
	height: 32px;
}

.vroad {

}

.hroad a div {
	width: 100px;
	height: 32px;
}

.vroad a div {
	height: 100px;
}

.hroad a div:hover {
	cursor: pointer;
	background-image:url('images/HorizDefaultRoad.png');
	background-repeat:no-repeat;
        width: 100px;
}

.vroad a div:hover {
	cursor: pointer;
	background-image:url('images/DefaultRoad.png');
	background-repeat:no-repeat;
        height: 100px;
}

.hroad a div img {
	width: 100px;
	height: 30px;
}

.emptyRoad {
    
}

.gameOver {
    font-weight: bold;
    font-size: 20pt;
    color: #ff0000;
}